// import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-enable-css-custom-properties: true; // <-- enable css custom properties

$nb-themes: nb-register-theme((

), default, default); // <- theme name and a parent theme

$nb-themes: nb-register-theme((

), dark, dark); // <- theme name and a parent theme

$nb-themes: nb-register-theme((

), cosmic, cosmic); // <- theme name and a parent theme
